<a href="https://colab.research.google.com/github/Sairanga-Putta/Data_Analysis/blob/main/project_1_SQL_QUERY_IMDB_data_set.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np #to perform mathematical operations
import pandas as pd #data manipulatgion tool
import matplotlib.pyplot as plt #data visualisartion tool
import seaborn as sns #dta visualisation tool
import sqlite3 #to write sql code on python -serverless database

#hints
1.connect your database(sqlite3.connect(dtabase)
2.use the cursor function -> database_variable.cursor()
#workflow
1.you need to establish connection to sqlite databaseby creating a connection object.
2.then create a cursor object using cursor() method.
3.then execute the query ->cursor_object.execute('query').
4.to fetch the data then use fetchcall() method of the cursor object.

1.ESTABLISHING THE CONNECTION

In [ ]:
db='/content/movies.sqlite'
conn=sqlite3.connect(db)
cur=conn.cursor()

Getting all data about movies

In [ ]:
movies=cur.fetchall()
cur.execute("SELECT * FROM movies")

In [ ]:
movies

In [ ]:
movies=pd.DataFrame(movies,columns=['id','original_title','budget','popularity','release_date','revenue','title','vote_average','vote_count','overview','tagline','uid','director_id'])

In [ ]:
movies

,id,original_title,budget,popularity,release_date,revenue,title,vote_average,vote_count,overview,tagline,uid,director_id
0,43597,Avatar,237000000,150,2009-12-10,2787965087,Avatar,NaN,NaN,"In the 22nd century, a paraplegic Marine is di...",Enter the World of Pandora.,19995,4762
1,43598,Pirates of the Caribbean: At World's End,300000000,139,2007-05-19,961000000,Pirates of the Caribbean: At World's End,NaN,NaN,"Captain Barbossa, long believed to be dead, ha...","At the end of the world, the adventure begins.",285,4763
2,43599,Spectre,245000000,107,2015-10-26,880674609,Spectre,NaN,NaN,A cryptic message from Bondâ€™s past sends him o...,A Plan No One Escapes,206647,4764
3,43600,The Dark Knight Rises,250000000,112,2012-07-16,1084939099,The Dark Knight Rises,NaN,NaN,Following the death of District Attorney Harve...,The Legend Ends,49026,4765
4,43601,John Carter,260000000,43,2012-03-07,284139100,John Carter,NaN,NaN,"John Carter is a war-weary, former military ca...","Lost in our world, found in another.",49529,4766
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4768,48395,El Mariachi,220000,14,1992-09-04,2040920,El Mariachi,NaN,NaN,El Mariachi just wants to play his guitar and ...,"He didn't come looking for trouble, but troubl...",9367,5097
4769,48396,Newlyweds,9000,0,2011-12-26,0,Newlyweds,NaN,NaN,A newlywed couple's honeymoon is upended by th...,A newlywed couple's honeymoon is upended by th...,72766,6485
4770,48397,"Signed, Sealed, Delivered",0,1,2013-10-13,0,"Signed, Sealed, Delivered",NaN,NaN,"""Signed, Sealed, Delivered"" introduces a dedic...",None,231617,7108
4771,48398,Shanghai Calling,0,0,2012-05-03,0,Shanghai Calling,NaN,NaN,When ambitious New York attorney Sam is sent t...,A New Yorker in Shanghai,126186,7109
4772,48399,My Date with Drew,0,1,2005-08-05,0,My Date with Drew,NaN,NaN,Ever since the second grade when he first saw ...,None,25975,7110

getting about directors

In [ ]:
cur.execute('select * from directors')
directors=cur.fetchall()

In [ ]:
directors

[('James Cameron', 4762, 2, 2710, 'Directing'),
 ('Gore Verbinski', 4763, 2, 1704, 'Directing'),
 ('Sam Mendes', 4764, 2, 39, 'Directing'),
 ('Christopher Nolan', 4765, 2, 525, 'Directing'),
 ('Andrew Stanton', 4766, 2, 7, 'Directing'),
 ('Sam Raimi', 4767, 2, 7623, 'Directing'),
 ('Byron Howard', 4768, 2, 76595, 'Directing'),
 ('Joss Whedon', 4769, 2, 12891, 'Directing'),
 ('David Yates', 4770, 2, 11343, 'Directing'),
 ('Zack Snyder', 4771, 2, 15217, 'Directing'),
 ('Bryan Singer', 4772, 2, 9032, 'Directing'),
 ('Marc Forster', 4773, 2, 12995, 'Directing'),
 ('Andrew Adamson', 4774, 2, 5524, 'Directing'),
 ('Rob Marshall', 4775, 2, 17633, 'Directing'),
 ('Barry Sonnenfeld', 4776, 2, 5174, 'Directing'),
 ('Peter Jackson', 4777, 2, 108, 'Directing'),
 ('Marc Webb', 4778, 2, 87742, 'Directing'),
 ('Ridley Scott', 4779, 2, 578, 'Directing'),
 ('Chris Weitz', 4780, 0, 3288, 'Directing'),
 ('Anthony Russo', 4781, 2, 19271, 'Directing'),
 ('Peter Berg', 4782, 2, 36602, 'Directing'),
 ('Colin Trevorrow', 4783, 2, 930707, 'Directing'),
 ('Shane Black', 4784, 2, 1108, 'Directing'),
 ('Tim Burton', 4785, 2, 510, 'Directing'),
 ('Brett Ratner', 4786, 2, 11091, 'Directing'),
 ('Dan Scanlon', 4787, 2, 225976, 'Directing'),
 ('Michael Bay', 4788, 2, 865, 'Directing'),
 ('Joseph Kosinski', 4789, 2, 86270, 'Directing'),
 ('John Lasseter', 4790, 2, 7879, 'Directing'),
 ('Martin Campbell', 4791, 2, 10702, 'Directing'),
 ('Lee Unkrich', 4792, 2, 8, 'Directing'),
 ('McG', 4793, 2, 36425, 'Directing'),
 ('James Wan', 4794, 2, 2127, 'Directing'),
 ('J.J. Abrams', 4795, 2, 15344, 'Directing'),
 ('Baz Luhrmann', 4796, 2, 6201, 'Directing'),
 ('Mike Newell', 4797, 2, 10723, 'Directing'),
 ('Guillermo del Toro', 4798, 2, 10828, 'Directing'),
 ('Steven Spielberg', 4799, 2, 488, 'Directing'),
 ('Peter Sohn', 4800, 2, 21198, 'Directing'),
 ('Brenda Chapman', 4801, 1, 59803, 'Directing'),
 ('Justin Lin', 4802, 0, 58189, 'Directing'),
 ('Roland Emmerich', 4803, 2, 6046, 'Directing'),
 ('Robert Zemeckis', 4804, 2, 24, 'Directing'),
 ('Lilly Wachowski', 4805, 1, 9339, 'Directing'),
 ('Pete Docter', 4806, 2, 12890, 'Directing'),
 ('Conrad Vernon', 4807, 2, 12080, 'Directing'),
 ('Jon Favreau', 4808, 2, 15277, 'Directing'),
 ('Martin Scorsese', 4809, 2, 1032, 'Directing'),
 ('Rob Cohen', 4810, 2, 18878, 'Directing'),
 ('David Ayer', 4811, 0, 19769, 'Directing'),
 ('Tom Shadyac', 4812, 2, 4499, 'Directing'),
 ('Doug Liman', 4813, 2, 11694, 'Directing'),
 ('Kevin Reynolds', 4814, 0, 8300, 'Directing'),
 ('Stephen Sommers', 4815, 2, 7775, 'Directing'),
 ('Rupert Sanders', 4816, 2, 228134, 'Directing'),
 ('Robert Stromberg', 4817, 0, 1032536, 'Directing'),
 ('Matt Reeves', 4818, 2, 32278, 'Directing'),
 ('Roland JoffÃ©', 4819, 0, 8965, 'Directing'),
 ('Carl Rinsch', 4820, 0, 239571, 'Directing'),
 ('Mike Mitchell', 4821, 2, 64151, 'Directing'),
 ('Brad Bird', 4822, 2, 7087, 'Directing'),
 ('Chris Williams', 4823, 2, 70238, 'Directing'),
 ('Rich Moore', 4824, 2, 165787, 'Directing'),
 ('Chris Sanders', 4825, 2, 66193, 'Directing'),
 ('Jonathan Mostow', 4826, 2, 7213, 'Directing'),
 ('James Gunn', 4827, 2, 15218, 'Directing'),
 ('Hideaki Anno', 4828, 2, 77921, 'Directing'),
 ('David Fincher', 4829, 2, 7467, 'Directing'),
 ('Matthew Vaughn', 4830, 2, 957, 'Directing'),
 ('Francis Lawrence', 4831, 2, 10943, 'Directing'),
 ('Jon Turteltaub', 4832, 2, 12962, 'Directing'),
 ('Wolfgang Petersen', 4833, 2, 5231, 'Directing'),
 ('James Bobin', 4834, 0, 26205, 'Directing'),
 ('Chris Miller', 4835, 2, 12098, 'Directing'),
 ('Duncan Jones', 4836, 2, 81850, 'Directing'),
 ('Alan Taylor', 4837, 2, 47005, 'Directing'),
 ('Michael Apted', 4838, 2, 10781, 'Directing'),
 ('Oliver Stone', 4839, 2, 1152, 'Directing'),
 ('Jan Pinkava', 4840, 2, 7930, 'Directing'),
 ('Eric Darnell', 4841, 2, 18863, 'Directing'),
 ('Shawn Levy', 4842, 2, 17825, 'Directing'),
 ('Gavin Hood', 4843, 2, 13079, 'Directing'),
 ('Chris Buck', 4844, 0, 15774, 'Directing'),
 ('George Miller', 4845, 2, 20629, 'Directing'),
 ('Ron Howard', 4846, 2, 6159, 'Directing'),
 ('Kenneth Branagh', 4847, 2, 11181, 'Directing'),
 ('Hoyt Yeatman', 4848, 0, 84851, 'Directing'),
 ('Jonathan Liebesman', 4849, 0, 66739, 'Directing'),
 ('Christopher McQuarrie', 4850, 0, 9033, 'Directing'),
 ('Joe Johnston', 4851, 2, 4945, 'Directing'),
 ('Steve Hickner', 4852, 2, 44113, 'Directing'),
 ('Jennifer Yuh Nelson', 4853, 1, 142312, 'Directing'),
 ('M. Night Shyamalan', 4854, 2, 11614, 'Directing'),
 ('Simon Wells', 4855, 2, 21879, 'Directing'),
 ('David Bowers', 4856, 2, 33183, 'Directing'),
 ('Joe Wright', 4857, 2, 36588, 'Directing'),
 ('Rob Minkoff', 4858, 2, 18898, 'Directing'),
 ('Lee Tamahori', 4859, 2, 7256, 'Directing'),
 ('Paul Feig', 4860, 2, 116805, 'Directing'),
 ('Peter Ramsey', 4861, 2, 151007, 'Directing'),
 ('Dean Parisot', 4862, 2, 15002, 'Directing'),
 ('Edward Zwick', 4863, 2, 9181, 'Directing'),
 ('Dean DeBlois', 4864, 2, 69797, 'Directing'),
 ('Alex Proyas', 4865, 2, 21085, 'Directing'),
 ('Richard Donner', 4866, 2, 7187, 'Directing'),
 ('Ang Lee', 4867, 2, 1614, 'Directing'),
 ('Jon M. Chu', 4868, 2, 54507, 'Directing'),
 ('Breck Eisner', 4869, 2, 52609, 'Directing'),
 ('Hironobu Sakaguchi', 4870, 0, 21692, 'Directing'),
 ('Peter Weir', 4871, 2, 2690, 'Directing'),
 ('Bill Condon', 4872, 2, 15557, 'Directing'),
 ('Louis Leterrier', 4873, 2, 18865, 'Directing'),
 ('Alejandro GonzÃ¡lez IÃ±Ã¡rritu', 4874, 2, 223, 'Directing'),
 ('David Soren', 4875, 0, 94075, 'Directing'),
 ('Paul Greengrass', 4876, 2, 25598, 'Directing'),
 ('Mark Osborne', 4877, 2, 57741, 'Directing'),
 ('Peyton Reed', 4878, 2, 59026, 'Directing'),
 ('Tim Johnson', 4879, 2, 52870, 'Directing'),
 ('Phillip Noyce', 4880, 2, 13015, 'Directing'),
 ('Darren Aronofsky', 4881, 2, 6431, 'Directing'),
 ('Alfonso CuarÃ³n', 4882, 2, 11218, 'Directing'),
 ('Ralph Zondag', 4883, 2, 65855, 'Directing'),
 ('Tom McGrath', 4884, 2, 18864, 'Directing'),
 ('Chris Columbus', 4885, 2, 10965, 'Directing'),
 ('Robert Schwentke', 4886, 2, 57270, 'Directing'),
 ('Carlos Saldanha', 4887, 2, 5714, 'Directing'),
 ('Guy Ritchie', 4888, 2, 956, 'Directing'),
 ('Paul Verhoeven', 4889, 2, 10491, 'Directing'),
 ('John McTiernan', 4890, 0, 1090, 'Directing'),
 ('Tony Gilroy', 4891, 2, 19242, 'Directing'),
 ('Joel Schumacher', 4892, 2, 5572, 'Directing'),
 ('John Woo', 4893, 2, 11401, 'Directing'),
 ('Tim Story', 4894, 2, 20400, 'Directing'),
 ('Mark Steven Johnson', 4895, 2, 16837, 'Directing'),
 ('Neill Blomkamp', 4896, 2, 82194, 'Directing'),
 ('David Twohy', 4897, 0, 28239, 'Directing'),
 ('JosÃ© Padilha', 4898, 2, 52576, 'Directing'),
 ('James L. Brooks', 4899, 2, 3388, 'Directing'),
 ('James Mangold', 4900, 2, 366, 'Directing'),
 ('George Lucas', 4901, 2, 1, 'Directing'),
 ('Thomas Langmann', 4902, 2, 20674, 'Directing'),
 ('Cedric Nicolas-Troyan', 4903, 0, 1454884, 'Directing'),
 ('Roger Donaldson', 4904, 2, 21370, 'Directing'),
 ('Dave Green', 4905, 0, 1101410, 'Directing'),
 ('Josh Trank', 4906, 2, 934803, 'Directing'),
 ('Brad Peyton', 4907, 2, 132876, 'Directing'),
 ('Roger Spottiswoode', 4908, 2, 1724, 'Directing'),
 ('Steven Soderbergh', 4909, 2, 1884, 'Directing'),
 ('Rob Letterman', 4910, 0, 65630, 'Directing'),
 ('Michel Gondry', 4911, 2, 201, 'Directing'),
 ('Noam Murro', 4912, 0, 78914, 'Directing'),
 ('Raja Gosnell', 4913, 2, 1215, 'Directing'),
 ('Will Finn', 4914, 2, 70287, 'Directing'),
 ('Jan de Bont', 4915, 2, 2209, 'Directing'),
 ('Len Wiseman', 4916, 2, 3950, 'Directing'),
 ('Frank Coraci', 4917, 2, 57370, 'Directing'),
 ('Michael Mann', 4918, 2, 638, 'Directing'),
 ('Bo Welch', 4919, 2, 5133, 'Directing'),
 ('Ron Clements', 4920, 2, 15810, 'Directing'),
 ('Peter Chelsom', 4921, 2, 36804, 'Directing'),
 ('Dominic Sena', 4922, 2, 58498, 'Directing'),
 ('Tony Scott', 4923, 2, 893, 'Directing'),
 ('Paul Weitz', 4924, 2, 3289, 'Directing'),
 ('Adam McKay', 4925, 2, 55710, 'Directing'),
 ('Chuck Russell', 4926, 2, 26713, 'Directing'),
 ('Quentin Tarantino', 4927, 2, 138, 'Directing'),
 ('Gary Trousdale', 4928, 2, 62047, 'Directing'),
 ('Mark Dindal', 4929, 2, 61411, 'Directing'),
 ('Simon West', 4930, 2, 12786, 'Directing'),
 ('Stefen Fangmeier', 4931, 0, 25453, 'Directing'),
 ('Spike Jonze', 4932, 2, 5953, 'Directing'),
 ('Chris Wedge', 4933, 2, 5713, 'Directing'),
 ('Florian Henckel von Donnersmarck', 4934, 2, 8193, 'Directing'),
 ('Peter Hyams', 4935, 2, 37710, 'Directing'),
 ('Tom Tykwer', 4936, 2, 1071, 'Directing'),
 ('Pitof', 4937, 2, 4586, 'Directing'),
 ('Brad Silberling', 4938, 0, 11887, 'Directing'),
 ('Patrick Hughes', 4939, 2, 143059, 'Directing'),
 ('Ericson Core', 4940, 2, 21673, 'Directing'),
 ('Lawrence Guterman', 4941, 0, 64191, 'Directing'),
 ('Ron Underwood', 4942, 2, 33485, 'Directing'),
 ('Steve Martino', 4943, 2, 71729, 'Directing'),
 ('David Mamet', 4944, 2, 1255, 'Directing'),
 ('Zhang Yimou', 4945, 2, 607, 'Directing'),
 ('Ash Brannon', 4946, 2, 12905, 'Directing'),
 ('Frank Oz', 4947, 2, 7908, 'Directing'),
 ('Jay Roach', 4948, 2, 6737, 'Directing'),
 ('Luc Besson', 4949, 2, 59, 'Directing'),
 ('Michael Patrick King', 4950, 2, 38023, 'Directing'),
 ('Don Michael Paul', 4951, 2, 27005, 'Directing'),
 ('Sergei Bodrov', 4952, 0, 130938, 'Directing'),
 ('Wally Pfister', 4953, 2, 559, 'Directing'),
 ('Rupert Wyatt', 4954, 0, 77357, 'Directing'),
 ('Mark Waters', 4955, 2, 54050, 'Directing'),
 ('John Moore', 4956, 2, 12028, 'Directing'),
 ('John Lee Hancock', 4957, 2, 54040, 'Directing'),
 ('Renny Harlin', 4958, 2, 16938, 'Directing'),
 ('Phil Lord', 4959, 0, 107446, 'Directing'),
 ('Ben Stiller', 4960, 2, 7399, 'Directing'),
 ('Tony Bancroft', 4961, 2, 66190, 'Directing'),
 ('Timur Bekmambetov', 4962, 2, 23430, 'Directing'),
 ('Walt Becker', 4963, 2, 68573, 'Directing'),
 ('Dennis Dugan', 4964, 2, 17494, 'Directing'),
 ('Sydney Pollack', 4965, 2, 2226, 'Directing'),
 ('Thor Freudenthal', 4966, 2, 109857, 'Directing'),
 ('Brian De Palma', 4967, 2, 1150, 'Directing'),
 ('Mick Jackson', 4968, 2, 8843, 'Directing'),
 ('Alan J. Pakula', 4969, 2, 6349, 'Directing'),
 ('Kathryn Bigelow', 4970, 1, 14392, 'Directing'),
 ('John Milius', 4971, 2, 8328, 'Directing'),
 ('Andrei Konchalovsky', 4972, 2, 58728, 'Directing'),
 ('Gary Ross', 4973, 2, 23964, 'Directing'),
 ('Paul W.S. Anderson', 4974, 2, 4014, 'Directing'),
 ('Genndy Tartakovsky', 4975, 0, 185438, 'Directing'),
 ('Kevin Lima', 4976, 2, 15775, 'Directing'),
 ('Daniel Espinosa', 4977, 2, 125738, 'Directing'),
 ('Nancy Meyers', 4978, 1, 17698, 'Directing'),
 ('Jill Culton', 4979, 1, 7881, 'Directing'),
 ('Neil Burger', 4980, 2, 17329, 'Directing'),
 ('Jean-Jacques Annaud', 4981, 2, 2352, 'Directing'),
 ('Barry Cook', 4982, 2, 66191, 'Directing'),
 ('Martin Brest', 4983, 2, 769, 'Directing'),
 ('Andrew Davis', 4984, 2, 12989, 'Directing'),
 ('Bob Fosse', 4985, 0, 66777, 'Directing'),
 ('Tarsem Singh', 4986, 2, 56512, 'Directing'),
 ('Edgar Wright', 4987, 2, 11090, 'Directing'),
 ('Jon Amiel', 4988, 2, 15148, 'Directing'),
 ('Peter Segal', 4989, 2, 13426, 'Directing'),
 ('Pete Travis', 4990, 0, 43141, 'Directing'),
 ('George A. Romero', 4991, 2, 14999, 'Directing'),
 ('Sylvester Stallone', 4992, 2, 16483, 'Directing'),
 ('Todd Phillips', 4993, 2, 57130, 'Directing'),
 ('Karey Kirkpatrick', 4994, 2, 52845, 'Directing'),
 ('Gary Winick', 4995, 2, 17046, 'Directing'),
 ('Mimi Leder', 4996, 1, 51984, 'Directing'),
 ('Seth Gordon', 4997, 2, 71600, 'Directing'),
 ('Adam Shankman', 4998, 2, 20739, 'Directing'),
 ('D.J. Caruso', 4999, 2, 40256, 'Directing'),
 ('Anthony Minghella', 5000, 2, 2239, 'Directing'),
 ('Albert Hughes', 5001, 2, 11447, 'Directing'),
 ('Les Mayfield', 5002, 0, 56911, 'Directing'),
 ('Joe Pytka', 5003, 2, 23677, 'Directing'),
 ('Scott Derrickson', 5004, 2, 55499, 'Directing'),
 ('Ivan Reitman', 5005, 2, 8858, 'Directing'),
 ('Eric Brevig', 5006, 2, 9622, 'Directing'),
 ('Kelly Asbury', 5007, 2, 12079, 'Directing'),
 ('Stephen Hopkins', 5008, 2, 2042, 'Directing'),
 ('Jonathan Demme', 5009, 2, 16294, 'Directing'),
 ('Henry Jaglom', 5010, 2, 117075, 'Directing'),
 ('James Algar', 5011, 2, 5690, 'Directing'),
 ('Vincent Ward', 5012, 0, 9198, 'Directing'),
 ('Steven Brill', 5013, 2, 32593, 'Directing'),
 ('Terry Gilliam', 5014, 2, 280, 'Directing'),
 ('Lucile Hadzihalilovic', 5015, 0, 17627, 'Directing'),
 ('Roger Christian', 5016, 2, 5058, 'Directing'),
 ('Joe Dante', 5017, 2, 4600, 'Directing'),
 ('Kevin Costner', 5018, 2, 1269, 'Directing'),
 ('Antony Hoffman', 5019, 2, 56154, 'Directing'),
 ('Jacques Perrin', 5020, 2, 20030, 'Directing'),
 ('AndrÃ©s Couturier', 5021, 0, 1172908, 'Directing'),
 ('Roger Allers', 5022, 2, 15812, 'Directing'),
 ('Cody Cameron', 5023, 2, 12095, 'Directing'),
 ('John Singleton', 5024, 2, 6482, 'Directing'),
 ('Oliver Hirschbiegel', 5025, 2, 7832, 'Directing'),
 ('Des McAnuff', 5026, 2, 588701, 'Directing'),
 ('Chris Renaud', 5027, 0, 124748, 'Directing'),
 ('Stephen Norrington', 5028, 2, 10808, 'Directing'),
 ('Pierre Coffin', 5029, 2, 124747, 'Directing'),
 ('David Kellogg', 5030, 2, 4759, 'Directing'),
 ('Mike Nichols', 5031, 2, 5342, 'Directing'),
 ('Vicky Jenson', 5032, 1, 12058, 'Directing'),
 ('F. Gary Gray', 5033, 2, 37932, 'Directing'),
 ('Antoine Fuqua', 5034, 2, 20907, 'Directing'),
 ('Robert Luketic', 5035, 2, 36797, 'Directing'),
 ('Gil Kenan', 5036, 2, 57193, 'Directing'),
 ('Barry Levinson', 5037, 2, 8246, 'Directing'),
 ('Jerry Zucker', 5038, 2, 3415, 'Directing'),
 ('Andy Tennant', 5039, 2, 17167, 'Directing'),
 ('Florent-Emilio Siri', 5040, 0, 1011158, 'Directing'),
 ('Gary Goldman', 5041, 2, 12881, 'Directing'),
 ('Ron Shelton', 5042, 2, 4037, 'Directing'),
 ('Ã€lex Pastor', 5043, 2, 94220, 'Directing'),
 ('Henry Selick', 5044, 2, 57646, 'Directing'),
 ('Kyle Balda', 5045, 0, 8023, 'Directing'),
 ('Fergal Reilly', 5046, 0, 52701, 'Directing'),
 ('Judd Apatow', 5047, 2, 41039, 'Directing'),
 ('Steve Carr', 5048, 2, 52112, 'Directing'),
 ('Mel Gibson', 5049, 2, 2461, 'Directing'),
 ('David Silverman', 5050, 2, 197, 'Directing'),
 ('Frank Darabont', 5051, 2, 4027, 'Directing'),
 ('Betty Thomas', 5052, 1, 31024, 'Directing'),
 ('Garry Marshall', 5053, 2, 1201, 'Directing'),
 ('Paul Tibbitt', 5054, 0, 217174, 'Directing'),
 ('Clark Johnson', 5055, 2, 47640, 'Directing'),
 ('Cameron Crowe', 5056, 2, 11649, 'Directing'),
 ('Randall Wallace', 5057, 2, 2460, 'Directing'),
 ('Jonathan Frakes', 5058, 2, 2388, 'Directing'),
 ('George Clooney', 5059, 2, 1461, 'Directing'),
 ('Gary Shore', 5060, 0, 1167470, 'Directing'),
 ('Andrzej Bartkowiak', 5061, 2, 10765, 'Directing'),
 ('MÃ¥ns MÃ¥rlind', 5062, 2, 80923, 'Directing'),
 ('Gregory Hoblit', 5063, 2, 17812, 'Directing'),
 ('Gary McKendry', 5064, 0, 141688, 'Directing'),
 ('Wych Kaosayananda', 5065, 0, 65615, 'Directing'),
 ('Mikael Salomon', 5066, 2, 30149, 'Directing'),
 ('Bobby Farrelly', 5067, 2, 7395, 'Directing'),
 ('Dan St. Pierre', 5068, 0, 15780, 'Directing'),
 ('Kerry Conran', 5069, 2, 41378, 'Directing'),
 ('Michael Caton-Jones', 5070, 2, 30365, 'Directing'),
 ('Mikael HÃ¥fstrÃ¶m', 5071, 0, 29605, 'Directing'),
 ('Phil Alden Robinson', 5072, 2, 23968, 'Directing'),
 ('David Slade', 5073, 2, 27571, 'Directing'),
 ('Joseph Ruben', 5074, 2, 52629, 'Directing'),
 ('Seth MacFarlane', 5075, 2, 52139, 'Directing'),
 ('Alejandro AmenÃ¡bar', 5076, 2, 19840, 'Directing'),
 ('Kinka Usher', 5077, 0, 59646, 'Directing'),
 ('Craig Gillespie', 5078, 0, 50767, 'Directing'),
 ('Rob Bowman', 5079, 2, 12523, 'Directing'),
 ('Doug Lefler', 5080, 0, 58656, 'Directing'),
 ('Scott Waugh', 5081, 2, 293911, 'Directing'),
 ('Lawrence Kasdan', 5082, 2, 8844, 'Directing'),
 ('Michael Lembeck', 5083, 2, 15045, 'Directing'),
 ('Tom Hooper', 5084, 2, 70500, 'Directing'),
 ('Nora Ephron', 5085, 0, 9248, 'Directing'),
 ('Angelina Jolie', 5086, 1, 11701, 'Directing'),
 ('Clint Eastwood', 5087, 2, 190, 'Directing'),
 ('Larry Charles', 5088, 2, 6767, 'Directing'),
 ('Stanley Kubrick', 5089, 2, 240, 'Directing'),
 ('Will Gluck', 5090, 2, 82511, 'Directing'),
 ('Glenn Ficarra', 5091, 2, 56411, 'Directing'),
 ('David S. Goyer', 5092, 2, 3893, 'Directing'),
 ('Taylor Hackford', 5093, 0, 18596, 'Directing'),
 ('Michael Lehmann', 5094, 2, 7145, 'Directing'),
 ('Stuart Beattie', 5095, 0, 1707, 'Directing'),
 ('Roman Polanski', 5096, 2, 3556, 'Directing'),
 ('Robert Rodriguez', 5097, 0, 2294, 'Directing'),
 ('Baltasar KormÃ¡kur', 5098, 2, 67813, 'Directing'),
 ('Daniel Lee', 5099, 2, 57832, 'Directing'),
 ('Keenen Ivory Wayans', 5100, 2, 35689, 'Directing'),
 ('Rob Reiner', 5101, 2, 3026, 'Directing'),
 ('Marco Schnabel', 5102, 2, 71527, 'Directing'),
 ('Demian Lichtenstein', 5103, 2, 71418, 'Directing'),
 ('Josh Gordon', 5104, 2, 60922, 'Directing'),
 ('Tim Hill', 5105, 2, 49903, 'Directing'),
 ('David Frankel', 5106, 2, 5065, 'Directing'),
 ('Marc Lawrence', 5107, 2, 18323, 'Directing'),
 ('Peter Billingsley', 5108, 2, 12708, 'Directing'),
 ('Wes Ball', 5109, 0, 1179066, 'Directing'),
 ('Ryan Murphy', 5110, 2, 52779, 'Directing'),
 ('Robert Redford', 5111, 2, 4135, 'Directing'),
 ('Jay Russell', 5112, 2, 46297, 'Directing'),
 ('Kenny Ortega', 5113, 2, 65310, 'Directing'),
 ('David McNally', 5114, 2, 48980, 'Directing'),
 ('Brian Robbins', 5115, 2, 53177, 'Directing'),
 ('Brian Levant', 5116, 2, 13581, 'Directing'),
 ('Steven Zaillian', 5117, 2, 2260, 'Directing'),
 ('Sam Fell', 5118, 2, 58897, 'Directing'),
 ('Jon Avnet', 5119, 2, 18250, 'Directing'),
 ('Robert Stevenhagen', 5120, 0, 64152, 'Directing'),
 ('Kevin Donovan', 5121, 2, 66654, 'Directing'),
 ('Geoff Murphy', 5122, 2, 32277, 'Directing'),
 ('David O. Russell', 5123, 2, 17883, 'Directing'),
 ('Babak Najafi', 5124, 2, 132239, 'Directing'),
 ('Jean-Pierre Jeunet', 5125, 2, 2419, 'Directing'),
 ('Anthony Stacchi', 5126, 2, 52691, 'Directing'),
 ('Griffin Dunne', 5127, 0, 2171, 'Directing'),
 ('John Pasquin', 5128, 2, 58072, 'Directing'),
 ('Ruben Fleischer', 5129, 2, 91268, 'Directing'),
 ('Harold Ramis', 5130, 2, 1524, 'Directing'),
 ('Kevin Macdonald', 5131, 2, 17350, 'Directing'),
 ('Donald Petrie', 5132, 2, 18281, 'Directing'),
 ('Jorge Blanco', 5133, 2, 117052, 'Directing'),
 ('Stuart Baird', 5134, 2, 2523, 'Directing'),
 ('Joel Coen', 5135, 0, 1223, 'Directing'),
 ('Robert Lorenz', 5136, 2, 4746, 'Directing'),
 ('Harold Becker', 5137, 2, 23213, 'Directing'),
 ('Scott Stewart', 5138, 0, 116357, 'Directing'),
 ('Tony Bill', 5139, 2, 57138, 'Directing'),
 ('Rod Lurie', 5140, 2, 21526, 'Directing'),
 ('Walter Hill', 5141, 2, 1723, 'Directing'),
 ('Akiva Goldsman', 5142, 2, 5575, 'Directing'),
 ('Harald Zwart', 5143, 2, 21981, 'Directing'),
 ('Walter Salles', 5144, 2, 8574, 'Directing'),
 ('Iain Softley', 5145, 2, 1978, 'Directing'),
 ('Frank Miller', 5146, 2, 2293, 'Directing'),
 ('David Koepp', 5147, 2, 508, 'Directing'),
 ('Uwe Boll', 5148, 2, 23799, 'Directing'),
 ('Soi Cheang', 5149, 2, 93991, 'Directing'),
 ('John Dahl', 5150, 2, 21053, 'Directing'),
 ('Tim Miller', 5151, 2, 55252, 'Directing'),
 ('Stephen Herek', 5152, 2, 18356, 'Directing'),
 ('Peter MacDonald', 5153, 2, 16589, 'Directing'),
 ('Anthony Hemingway', 5154, 0, 1216147, 'Directing'),
 ('Sean Anders', 5155, 2, 74619, 'Directing'),
 ('Brian Taylor', 5156, 2, 20192, 'Directing'),
 ('John Madden', 5157, 0, 18844, 'Directing'),
 ('Kevin Bray', 5158, 2, 34453, 'Directing'),
 ('Mike Gabriel', 5159, 2, 65530, 'Directing'),
 ('Sam Weisman', 5160, 2, 54967, 'Directing'),
 ('Jesse Dylan', 5161, 2, 54584, 'Directing'),
 ('Wayne Wang', 5162, 0, 39819, 'Directing'),
 ('Gabriele Muccino', 5163, 2, 20646, 'Directing'),
 ('Tom Dey', 5164, 2, 46076, 'Directing'),
 ('Jimmy Hayward', 5165, 2, 8029, 'Directing'),
 ('Alan Parker', 5166, 2, 9168, 'Directing'),
 ('John Frankenheimer', 5167, 2, 13776, 'Directing'),
 ('Paul King', 5168, 2, 101666, 'Directing'),
 ('Akiva Schaffer', 5169, 2, 62854, 'Directing'),
 ('William Friedkin', 5170, 0, 15175, 'Directing'),
 ('Kent Alterman', 5171, 2, 65702, 'Directing'),
 ('Peter Lord', 5172, 2, 53304, 'Directing'),
 ('Shekhar Kapur', 5173, 2, 37630, 'Directing'),

In [ ]:
directors=pd.DataFrame(directors,columns=['name','id','gender','uid','department'])

In [ ]:
directors

                   name    id  gender      uid department
0         James Cameron  4762       2     2710  Directing
1        Gore Verbinski  4763       2     1704  Directing
2            Sam Mendes  4764       2       39  Directing
3     Christopher Nolan  4765       2      525  Directing
4        Andrew Stanton  4766       2        7  Directing
...                 ...   ...     ...      ...        ...
2344      Shane Carruth  7106       2    76624  Directing
2345   Neill Dela Llana  7107       0  1174437  Directing
2346        Scott Smith  7108       0  1219158  Directing
2347        Daniel Hsia  7109       2   208138  Directing
2348   Brian Herzlinger  7110       2    85563  Directing

[2349 rows x 5 columns]

In [ ]:
directors.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2349 entries, 0 to 2348
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        2349 non-null   object
 1   id          2349 non-null   int64
 2   gender      2349 non-null   int64
 3   uid         2349 non-null   int64
 4   department  2349 non-null   object
dtypes: int64(3), object(2)
memory usage: 91.9+ KB

check how many movies are present in imdb

In [ ]:
cur.execute('Select count(title) from movies')
count=cur.fetchall()
print(f'The number of movies in IMDB database is {count[0]}')

The number of movies in IMDB database is (4773,)

find thes 3 directors james cameron ,luc beson ,jhon woo

In [ ]:
cur.execute("select * from directors where name in('James Cameron','Luc Besson','John Woo')")
three_directors=cur.fetchall()
three_directors

[('James Cameron', 4762, 2, 2710, 'Directing'),
 ('John Woo', 4893, 2, 11401, 'Directing'),
 ('Luc Besson', 4949, 2, 59, 'Directing')]

select names starting with name Steven

In [ ]:
cur.execute("Select * from directors where name like 'Steven%'")
names=cur.fetchall()
print(f'The directors with starting name as Steven {names}')

The directors with starting name as Steven [('Steven Spielberg', 4799, 2, 488, 'Directing'), ('Steven Soderbergh', 4909, 2, 1884, 'Directing'), ('Steven Brill', 5013, 2, 32593, 'Directing'), ('Steven Zaillian', 5117, 2, 2260, 'Directing'), ('Steven Quale', 5216, 2, 93214, 'Directing'), ('Steven Seagal', 5221, 2, 23880, 'Directing'), ('Steven E. de Souza', 5390, 2, 1726, 'Directing'), ('Steven Shainberg', 5803, 2, 67795, 'Directing'), ('Steven R. Monroe', 6713, 2, 88039, 'Directing')]

In [ ]:
cur.execute("Select count(gender) from directors where gender=='1'")
female_count=cur.fetchall()
print(f'No of Feamle Dirtectors {female_count[0]}')

No of Feamle Dirtectors (150,)

find names of 1o first women directors

In [ ]:
cur.execute('Select name from directors where gender == 1')
female_dir=cur.fetchall()
print(f'10th female director {female_dir[9][0]}')

10th female director Angelina Jolie

what are three most popular movies

In [ ]:
cur.execute('Select original_title from movies order by popularity Desc LIMIT 3')
top=cur.fetchall()
print(f'three poplar movies {top[0][0]},{top[1][0]},{top[2][0]}')

three poplar movies Minions,Interstellar,Deadpool

what are the 3 most bankable movies

In [ ]:
movies

,id,original_title,budget,popularity,release_date,revenue,title,vote_average,vote_count,overview,tagline,uid,director_id
0,43597,Avatar,237000000,150,2009-12-10,2787965087,Avatar,NaN,NaN,"In the 22nd century, a paraplegic Marine is di...",Enter the World of Pandora.,19995,4762
1,43598,Pirates of the Caribbean: At World's End,300000000,139,2007-05-19,961000000,Pirates of the Caribbean: At World's End,NaN,NaN,"Captain Barbossa, long believed to be dead, ha...","At the end of the world, the adventure begins.",285,4763
2,43599,Spectre,245000000,107,2015-10-26,880674609,Spectre,NaN,NaN,A cryptic message from Bondâ€™s past sends him o...,A Plan No One Escapes,206647,4764
3,43600,The Dark Knight Rises,250000000,112,2012-07-16,1084939099,The Dark Knight Rises,NaN,NaN,Following the death of District Attorney Harve...,The Legend Ends,49026,4765
4,43601,John Carter,260000000,43,2012-03-07,284139100,John Carter,NaN,NaN,"John Carter is a war-weary, former military ca...","Lost in our world, found in another.",49529,4766
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4768,48395,El Mariachi,220000,14,1992-09-04,2040920,El Mariachi,NaN,NaN,El Mariachi just wants to play his guitar and ...,"He didn't come looking for trouble, but troubl...",9367,5097
4769,48396,Newlyweds,9000,0,2011-12-26,0,Newlyweds,NaN,NaN,A newlywed couple's honeymoon is upended by th...,A newlywed couple's honeymoon is upended by th...,72766,6485
4770,48397,"Signed, Sealed, Delivered",0,1,2013-10-13,0,"Signed, Sealed, Delivered",NaN,NaN,"""Signed, Sealed, Delivered"" introduces a dedic...",None,231617,7108
4771,48398,Shanghai Calling,0,0,2012-05-03,0,Shanghai Calling,NaN,NaN,When ambitious New York attorney Sam is sent t...,A New Yorker in Shanghai,126186,7109
4772,48399,My Date with Drew,0,1,2005-08-05,0,My Date with Drew,NaN,NaN,Ever since the second grade when he first saw ...,None,25975,7110

In [ ]:
cur.execute('Select original_title from movies order by budget Desc LIMIT 3')
bankable=cur.fetchall()
print(f'three  movies more bankable {bankable[0][0]},{bankable[1][0]},{bankable[2][0]}')

three  movies more bankable Pirates of the Caribbean: On Stranger Tides,Pirates of the Caribbean: At World's End,Avengers: Age of Ultron

what is the most awarde vote movie since jan 1s 2000

In [ ]:
cur.execute("Select original_title from movies where release_date >'2000-01-01' order by vote_average desc limit 1 ")
names=cur.fetchall()
print(f'most awarded avg moviesince jan 2000 :{names[0][0]}')

most awarded avg moviesince jan 2000 :Sardaarji

In [ ]:
movies.columns

Index(['id', 'original_title', 'budget', 'popularity', 'release_date',
       'revenue', 'title', 'vote_average', 'vote_count', 'overview', 'tagline',
       'uid', 'director_id'],
      dtype='object')

which movies directed by brenda chapman

In [ ]:
directors.columns

Index(['name', 'id', 'gender', 'uid', 'department'], dtype='object')

In [ ]:
cur.execute("select movies.original_title from movies join directors on movies.director_id==directors.id where directors.name=='Brenda Chapman'")
mnames=cur.fetchall()
print(f'Movies directed by Brenda Chapman:{mnames[0][0]}')

Movies directed by Brenda Chapman:Brave

name the director who has made the most movies

In [ ]:
cur.execute("Select name from directors join movies on directors.id==movies.director_id group by director_id order by count(name) desc limit 1 ")
director_name=cur.fetchall()
print(f'The direct with most movies :{director_name[0][0]}')

The direct with most movies :Steven Spielberg

na,e the director who is most bankable

In [ ]:
cur.execute('Select name from directors join movies on directors.id==movies.director_id group by director_id order by sum(budget) desc limit 1')
dirname=cur.fetchall()
print(f'Director most bankabale : {dirname[0][0]}')

Director most bankabale : Steven Spielberg

Budget Analysis

tell highest budget making movies as data frame

In [ ]:
cur.execute("select * from movies order by budget desc limit 10")
data=cur.fetchall()
df3=pd.DataFrame(data)
df3

revenue analysis

find top 10 revenue making movies

In [ ]:
cur.execute("select * from movies order by revenue desc limit 10")
data2=cur.fetchall()
df4=pd.DataFrame(data2)
df4

voting analysis

most popular movies with highest vote average

In [ ]:
cur.execute("select * from movies order by vote_average desc limit 10")
data2=cur.fetchall()
df4=pd.DataFrame(data2)
df4

director analysis

In [ ]:
cur.execute("select directors.name,count(movies.original_title),sum(movies.revenue) from directors join movies on directors.id==movies.director_id group by director_id order by sum(revenue) desc")
names=cur.fetchall()
df5=pd.DataFrame(names)
df5

In [ ]:
cur.execute("select directors.name,count(movies.original_title),sum(movies.revenue) from directors join movies on directors.id==movies.director_id group by director_id order by count(movies.original_title) desc")
names=cur.fetchall()
df5=pd.DataFrame(names)
df5

                     0   1           2
0     Steven Spielberg  27  9147393164
1          Woody Allen  21   669101038
2       Clint Eastwood  20  2512058888
3      Martin Scorsese  20  1956635998
4            Spike Lee  16   340618771
...                ...  ..         ...
2344    Brenda Chapman   1   538983207
2345        Peter Sohn   1   331926147
2346       Lee Unkrich   1  1066969703
2347       Dan Scanlon   1   743559607
2348      Byron Howard   1   591794936

[2349 rows x 3 columns]

In [ ]:
cur.execute("select original_title,release_date,budget,revenue,popularity,vote_average from movies join directors on movies.director_id==directors.id where directors.name=='Steven Spielberg'")
names=cur.fetchall()
df5=pd.DataFrame(names)
df5

,0,1,2,3,4,5
0,Indiana Jones and the Kingdom of the Crystal S...,2008-05-21,185000000,786636033,75,5.7
1,The BFG,2016-06-01,140000000,183345589,44,6.0
2,War of the Worlds,2005-06-28,132000000,591739379,48,6.2
3,The Adventures of Tintin,2011-10-25,130000000,371940071,89,6.7
4,Minority Report,2002-06-20,102000000,358372926,65,7.1
5,A.I. Artificial Intelligence,2001-06-29,100000000,235926552,34,6.8
6,The Lost World: Jurassic Park,1997-05-23,73000000,229074524,2,6.2
7,The Terminal,2004-06-17,60000000,219417255,57,7.0
8,Munich,2005-12-22,70000000,130358911,29,6.9
9,Hook,1991-12-11,70000000,300854823,33,6.6
10,War Horse,2011-12-25,66000000,177584879,29,7.0
11,Saving Private Ryan,1998-07-24,70000000,481840909,76,7.9
12,Lincoln,2012-11-09,65000000,275293450,36,6.7
13,Jurassic Park,1993-06-11,63000000,920100000,40,7.6
14,Catch Me If You Can,2002-12-25,52000000,352114312,73,7.7
15,Indiana Jones and the Last Crusade,1989-05-24,48000000,474171806,80,7.6
16,Bridge of Spies,2015-10-15,40000000,165478348,48,7.2
17,Amistad,1997-12-03,36000000,74000000,3,6.8
18,1941,1979-12-13,35000000,31755742,10,5.6
19,Indiana Jones and the Temple of Doom,1984-05-23,28000000,333000000,66,7.1
20,Schindler's List,1993-11-29,22000000,321365567,104,8.3
21,Raiders of the Lost Ark,1981-06-12,18000000,389925971,68,7.7
22,Close Encounters of the Third Kind,1977-11-16,20000000,303788635,52,7.2
23,The Color Purple,1985-12-18,15000000,146292009,17,7.7
24,Jaws,1975-06-18,7000000,470654000,50,7.5
25,E.T. the Extra-Terrestrial,1982-04-03,10500000,792910554,56,7.3
26,Twilight Zone: The Movie,1983-06-24,10000000,29450919,12,6.2